@{
    ViewBag.Title = "Home Page";
}

<section ng-controller="IndexController" ng-cloak>

    <div class="box-body">


        <div class=row>
            <div class="box-header with-border">

                <div class="col-md-12" style="background-color: #70709d;">

                    <div class="col-md-8">
                        <h4 style="color:white">Manage Employees</h4>
                    </div>

                    <div class="col-md-2">
                        <button class="btn btn-sm btn-danger" ng-click="DeleteMultipleEmployeeData()"> <i class="fa fa-minus" aria-hidden="true"></i>  Delete </button>
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-sm btn-success" ng-click="AddEmployeeModalOpen()"><i class="fa fa-plus" aria-hidden="true"></i>  Add New Employee </button>
                    </div>
                </div>
                

            </div>
            <div class="col-md-12">

                <table class="table mb-0">
                    <thead>
                        <tr>
                            <th> <input type="checkbox" id="CheckBoxAll" name="CheckBoxAll" ng-click="GetCheckBoxValueForMultiple(CheckBoxAllModel)" ng-model="CheckBoxAllModel"></th>
                            <th>Name</th>
                            <th>Email Id</th>
                            <th>Address</th>
                            <th>Phone No</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody ng-cloak>
                        <tr dir-paginate="Emp in AllEmployeeList|itemsPerPage:5" total-items="total_count" pagination-id="id">

                            <td> <input type="checkbox" id="{{Emp.Id}}" name="Check{{Emp.Id}}" ng-click="GetCheckBoxValue(CheckBoxModel, Emp.Id)" ng-model="CheckBoxModel"></td>
                            <td>{{Emp.EmployeeName}}</td>
                            <td>{{Emp.EmployeeEmail}}</td>
                            <td>{{Emp.EmployeeAddress}}</td>
                            <td>{{Emp.EmployeePhone}}</td>
                            
                            <td>
                                <button class="btn btn-sm btn-success" ng-click="EditEmployeeData(Emp.Id)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                                <button class="btn btn-sm btn-danger" ng-click="DeleteEmployeeData(Emp.Id)"><i class="fa fa-trash" aria-hidden="true"></i></button>
                            </td>
                            
                        </tr>
                    </tbody>
                </table>
                <div class="text-right">
                    <dir-pagination-controls max-size="8"
                                             direction-links="true"
                                             boundary-links="true"
                                             pagination-id="id"
                                             on-page-change="GetEmployeeList(newPageNumber)">
                    </dir-pagination-controls>
                </div>
            </div>


        </div>




    </div>









    <div class="modal fade" id="AddModel" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form name="f1" ng-submit="SaveData()">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Add Employee</h4>
                    </div>
                    <div class="modal-body">

                        <div class="row">

                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Name</label>
                                    <input type="text" class="form-control" autocomplete="off" name="EmployeeName" ng-model="EmployeeData.EmployeeName" ng-class="Submitted?'ng-dirty':''" required autofocus>
                                    <span class="error" ng-show="(f1.EmployeeName.$dirty || Submitted) && f1.EmployeeName.$error.required">Employee Name Required</span>

                                </div>

                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Email Id</label>
                                    <input type="text" class="form-control" autocomplete="off" name="EmployeeEmail" ng-pattern="emailFormat" ng-model="EmployeeData.EmployeeEmail" ng-class="Submitted?'ng-dirty':''" required autofocus>
                                    <span class="error" ng-show="(f1.EmployeeEmail.$dirty || Submitted) && f1.EmployeeEmail.$error.required">Employee Email Required</span>
                                    <span ng-cloak class="error" ng-show="f1.EmployeeEmail.$error.pattern">Enter Valid Email Address</span>
                                </div>

                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Address</label>
                                    <textarea class="form-control" rows="4" cols="35"  name="EmployeeAddress" ng-model="EmployeeData.EmployeeAddress" ng-class="Submitted?'ng-dirty':''" required autofocus></textarea>                                    
                                    <span class="error" ng-show="(f1.EmployeeAddress.$dirty || Submitted) && f1.EmployeeAddress.$error.required">Employee Address Required</span>

                                </div>

                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Phone No</label>
                                    <input type="text" class="form-control" autocomplete="off" name="EmployeePhone" ng-model="EmployeeData.EmployeePhone" maxlength="10" ng-class="Submitted?'ng-dirty':''" required autofocus>
                                    <span class="error" ng-show="(f1.EmployeePhone.$dirty || Submitted) && f1.EmployeePhone.$error.required">Employee Phone Required</span>
                                    <span class="error" ng-show="f1.EmployeePhone.$error.pattern">Please enter valid number</span>

                                </div>

                            </div>

                           
                        </div>




                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-sm btn-success">{{ButtonMessage}}</button>
                    </div>

                </form>
            </div>
        </div>
    </div>













   

</section>
